@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

h1,
p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.svgBtn {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: share;
  justify-self: end;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

body {
  background-color: #ecf2f8;
}

body .card {
  width: 20.5rem;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  body .card {
    width: 45.9375rem;
    margin-top: 16.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .card header {
  height: 12.5rem;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  body .card header {
    width: 18.125rem;
  }
}

body .card header img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  body .card header img {
    height: initial;
    width: 125%;
  }
}

body .card .cardMain {
  background-color: white;
}

@media screen and (min-width: 1200px) {
  body .card .cardMain {
    width: 28rem;
  }
}

body .card .cardMain main {
  padding: 2rem 2rem 1rem 2rem;
}

body .card .cardMain main h1 {
  color: #48556a;
  font-weight: 700;
}

body .card .cardMain main p {
  font-size: 13px;
  color: #6d7f97;
  line-height: 1.3rem;
  padding-top: 1.5rem;
}

body .card .cardMain footer {
  padding: 1rem 2rem;
  background-color: white;
}

body .card .cardMain footer .user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "image name name share" "image date date share";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  body .card .cardMain footer .user {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "image name name . . share" "image date date . . share";
  }
}

body .card .cardMain footer .user .image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: image;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  overflow: hidden;
}

body .card .cardMain footer .user .image img {
  height: 100%;
  width: 100%;
}

body .card .cardMain footer .user h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: name;
  color: #48556a;
  font-size: 0.8rem;
  font-weight: 700;
}

body .card .cardMain footer .user h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: date;
  color: #9eafc2;
  font-size: 0.7rem;
  font-weight: 500;
}

body .card .cardMain footer .user .svgBtn {
  background-color: #ecf2f8;
}

@media screen and (min-width: 1200px) {
  body .card .cardMain footer .user .svgBtn {
    cursor: pointer;
  }
}

body .card .cardMain footer .share {
  height: 2.625rem;
  display: none;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "shareText shareText facebook twitter pinterest . share";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .card .cardMain footer .share h4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: shareText;
  font-size: 0.7rem;
  letter-spacing: 0.4rem;
  font-weight: 500;
  color: #9eafc2;
  text-transform: uppercase;
}

body .card .cardMain footer .share .svgFacebook {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: facebook;
}

body .card .cardMain footer .share .svgTwitter {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: twitter;
}

body .card .cardMain footer .share .svgPinterest {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: pinterest;
  fill: yellowgreen;
}

body .card .cardMain footer .share .svgBtn {
  background-color: #6d7f97;
}

body .card .cardMain footer .share .svgBtn path {
  fill: white;
}
/*# sourceMappingURL=main.css.map */