@import "colors";
@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

h1,
p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.svgBtn {
  grid-area: share;
  justify-self: end;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

body {
  background-color: $lightGrayishBlue;

  .card {
    width: 20.5rem;
    margin: 0 auto;
    margin-top: 5rem;

    border-radius: 8px;
    overflow: hidden;

    @media screen and (min-width: 1200px) {
      width: 45.9375rem;
      margin-top: 16.25rem;
      display: flex;
      flex-direction: row;
    }

    header {
      height: 12.5rem;
      width: 100%;

      @media screen and (min-width: 1200px) {
        width: 18.125rem;
      }
      img {
        height: 100%;
        width: 100%;

        @media screen and(min-width:1200px) {
          height: initial;
          width: 125%;
        }
      }
    }

    .cardMain {
      background-color: white;

      @media screen and (min-width: 1200px) {
        width: 28rem;
      }

      main {
        padding: 2rem 2rem 1rem 2rem;
        h1 {
          color: $veryDarkGrayishBlue;
          font-weight: 700;
        }

        p {
          font-size: 13px;
          color: $desaturatedDarkBlue;
          line-height: 1.3rem;
          padding-top: 1.5rem;
        }
      }

      footer {
        padding: 1rem 2rem;
        background-color: white;

        .user {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
            "image name name share"
            "image date date share";
          align-items: center;

          @media screen and (min-width: 1200px) {
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas:
              "image name name . . share"
              "image date date . . share";
          }

          .image {
            grid-area: image;
            width: 2.625rem;
            height: 2.625rem;
            border-radius: 50%;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
            }
          }

          h2 {
            grid-area: name;
            color: $veryDarkGrayishBlue;
            font-size: 0.8rem;
            font-weight: 700;
          }

          h3 {
            grid-area: date;
            color: $grayishBlue;
            font-size: 0.7rem;
            font-weight: 500;
          }

          .svgBtn {
            background-color: $lightGrayishBlue;

            @media screen and (min-width: 1200px) {
              cursor: pointer;
            }
          }
        }

        .share {
          height: 2.625rem;
          display: none;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: 1fr;
          grid-template-areas: "shareText shareText facebook twitter pinterest . share";
          justify-items: center;
          align-items: center;

          h4 {
            grid-area: shareText;
            font-size: 0.7rem;
            letter-spacing: 0.4rem;
            font-weight: 500;
            color: $grayishBlue;
            text-transform: uppercase;
          }

          .svgFacebook {
            grid-area: facebook;
          }
          .svgTwitter {
            grid-area: twitter;
          }
          .svgPinterest {
            grid-area: pinterest;
            fill: yellowgreen;
          }

          .svgBtn {
            background-color: $desaturatedDarkBlue;

            path {
              fill: white;
            }
          }
        }
      }
    }
  }
}
